/obj/Debug/net472/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/bin/Debug/net472/Assembly-CSharp.dll
/bin/Debug/net472/Assembly-CSharp-firstpass.dll
/bin/Debug/net472/BepInEx.Harmony.dll
/bin/Debug/net472/BepInEx.Harmony.xml
/.idea/.idea.PlayableLoaderBepInEx.dir/.idea/discord.xml
/.idea/.idea.PlayableLoaderBepInEx.dir/.idea/encodings.xml
/Folder.DotSettings.user
/.idea/.idea.PlayableLoaderBepInEx.dir/.idea/indexLayout.xml
/bin/Debug/net472/MonoMod.dll
/obj/Debug/net472/MyPluginInfo.cs
/obj/Debug/net472/Playable.3D977E6B.Up2Date
/obj/Debug/net472/PlayableLoaderBepInEx.AssemblyInfo.cs
/obj/Debug/net472/PlayableLoaderBepInEx.AssemblyInfoInputs.cache
/obj/Debug/net472/PlayableLoaderBepInEx.assets.cache
/obj/Debug/net472/PlayableLoaderBepInEx.csproj.AssemblyReference.cache
/obj/Debug/net472/PlayableLoaderBepInEx.csproj.CoreCompileInputs.cache
/obj/Debug/net472/PlayableLoaderBepInEx.csproj.FileListAbsolute.txt
/obj/PlayableLoaderBepInEx.csproj.nuget.dgspec.json
/obj/PlayableLoaderBepInEx.csproj.nuget.g.props
/obj/PlayableLoaderBepInEx.csproj.nuget.g.targets
/bin/Debug/net472/PlayableLoaderBepInEx.dll
/obj/Debug/net472/PlayableLoaderBepInEx.dll
/obj/Debug/net472/PlayableLoaderBepInEx.GeneratedMSBuildEditorConfig.editorconfig
/bin/Debug/net472/PlayableLoaderBepInEx.pdb
/obj/Debug/net472/PlayableLoaderBepInEx.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/bin/Debug/net472/Unity.Addressables.dll
/bin/Debug/net472/Unity.Postprocessing.Runtime.dll
/bin/Debug/net472/Unity.RenderPipelines.Core.Runtime.dll
/bin/Debug/net472/Unity.ResourceManager.dll
/bin/Debug/net472/Unity.TextMeshPro.dll
/bin/Debug/net472/UnityEngine.UI.dll
/.idea/.idea.PlayableLoaderBepInEx.dir/.idea/vcs.xml
/bin/Debug/net472/XInputDotNetPure.dll
